.artwork-tile img {
  transition: 0.5s transform;
}

.artwork-tile:hover img {
  transform: scale(1.1);
}

.artwork-tile:focus-visible img {
  transform: scale(1.1);
}

.artwork-tile .MuiTouchRipple-root {
  display: none;
}
